.login {
  height: 100vh;
  width: 100vw;
  display: flex;

  .login-container {
    width: 50%;
    max-width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 50px;
    margin: auto;
    padding: 30px;

    .login-title {
      display: flex;
      justify-content: center;
    }
  }
}
